PGHOST=127.0.0.1
PGPORT=55432
PGDATABASE=olist_postal_bi
PGUSER=olist_bi
PGPASSWORD=change_me
OLIST_DATA_DIR=/Users/your-user/.cache/kagglehub/datasets/olistbr/brazilian-ecommerce/versions/2
SUPERSET_USERNAME=admin
SUPERSET_PASSWORD=change_me
SUPERSET_SECRET_KEY=change_me_before_sharing
